In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd

In [0]:
dataset=pd.read_csv("/content/drive/My Drive/Datasets: Cyber/Uncensored/ICMP.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
dataset["Class"]=le.fit_transform(dataset["Class"])

In [0]:
dataset.head()

               Date  UTC Time      Time  ...    NetDestAddr ExpertInfo  Class
0  12-03-2017 15:23  15:23:08  0.000000  ...  192.168.100.1        NaN      0
1  12-03-2017 15:23  15:23:08  0.003862  ...   192.168.61.6        NaN      0
2  12-03-2017 15:23  15:23:08  0.005187  ...  192.168.100.1        NaN      0
3  12-03-2017 15:23  15:23:08  0.005523  ...  192.168.100.1        NaN      0
4  12-03-2017 15:23  15:23:08  0.006986  ...   192.168.61.6        NaN      0

[5 rows x 22 columns]

In [0]:
dataset['pandas_SMA_3'] = dataset.iloc[:,-1].rolling(window=3).mean()

In [0]:
dataset.head()

               Date  UTC Time      Time  ...  ExpertInfo Class  pandas_SMA_3
0  12-03-2017 15:23  15:23:08  0.000000  ...         NaN     0           NaN
1  12-03-2017 15:23  15:23:08  0.003862  ...         NaN     0           NaN
2  12-03-2017 15:23  15:23:08  0.005187  ...         NaN     0           0.0
3  12-03-2017 15:23  15:23:08  0.005523  ...         NaN     0           0.0
4  12-03-2017 15:23  15:23:08  0.006986  ...         NaN     0           0.0

[5 rows x 23 columns]